.main-box {

    -fx-background-color: #474747; /* Dark background color */
}
.welcome-text {
    -fx-text-fill: white;
    -fx-font-size: 30px;
}
.play-button {
    -fx-background-color: #92D2FE;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
}

.clicked-mark-bomb-button {
    -fx-background-color: #0098ff;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
}
.not-clicked-mark-bomb-button {
    -fx-background-color: #92D2FE;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
}

.marked-with-bomb-game-button {
    -fx-background-image: url('circle.png'); /* Path to your circular icon */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; /* Center the background image */
    -fx-background-size: 40px 40px; /* Set the dimensions of the background image */
}

.hidden-field-game-button{
    -fx-background-color: #0a0b0c;
    -fx-text-fill: transparent;
    -fx-padding: 22px 30px;
}
.zero-bomb-exposed-field-game-button{
    -fx-background-color: #b6b6bd;
    -fx-text-fill: transparent;
    -fx-padding: 22px 30px;
}
.one-bomb-exposed-field-game-button{
    -fx-background-color: #b6b6bd;
    -fx-text-fill: #4c4cea;
    -fx-font-size: 25px;
    -fx-padding: 13px 28px;
    -fx-max-height: 13px;
    -fx-max-width: 28px;

}
.two-bombs-exposed-field-game-button{
    -fx-background-color: #b6b6bd;
    -fx-text-fill: #ea3838;
    -fx-font-size: 25px;
    -fx-padding: 13px 28px;
}
.three-bombs-exposed-field-game-button{
    -fx-background-color: #b6b6bd;
    -fx-text-fill: #00932f;
    -fx-font-size: 25px;
    -fx-padding: 13px 28px;
}
.four-bombs-exposed-field-game-button{
    -fx-background-color: #b6b6bd;
    -fx-text-fill: #ffad00;
    -fx-font-size: 25px;
    -fx-padding: 13px 28px;
}
.five-bombs-exposed-field-game-button{
    -fx-background-color: #b6b6bd;
    -fx-text-fill: #ff03f2;
    -fx-font-size: 25px;
    -fx-padding: 13px 28px;
}
.six-bombs-exposed-field-game-button{
    -fx-background-color: #b6b6bd;
    -fx-text-fill: #7300ff;
    -fx-font-size: 25px;
    -fx-padding: 13px 28px;
}
.seven-bombs-exposed-field-game-button{
    -fx-background-color: #b6b6bd;
    -fx-text-fill: #d37900;
    -fx-font-size: 25px;
    -fx-padding: 13px 28px;
}
.eight-bombs-exposed-field-game-button{
    -fx-background-color: #b6b6bd;
    -fx-text-fill: #653800;
    -fx-font-size: 25px;
    -fx-padding: 13px 28px;
}
.bomb-button {
    -fx-background-color: #33333d;
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-padding: 20px 30px;
}